.eduadmin.booking-page form .not-a-good-idea {
  display: none;
}
.eduadmin.booking-page form .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 0 0;
}
.eduadmin.booking-page form .title .courseImage {
  width: 72px;
  height: 72px;
}
.eduadmin.booking-page form .title .dateInfo {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.eduadmin.booking-page form .title select.dateInfo {
  padding: unset;
}
.eduadmin.booking-page form .title .notUserCheck {
  text-align: center;
  color: #666666;
  margin: 0 0 56px;
  font-size: 0.95rem;
}
.eduadmin.booking-page form .title .notUserCheck a {
  margin: 0 0 0 8px;
  color: #666666;
}
.eduadmin.booking-page form h2 {
  color: #333333;
  font-weight: 600;
  margin: 0 0 24px 0;
}
.eduadmin.booking-page form .contactView,
.eduadmin.booking-page form .customerView,
.eduadmin.booking-page form .participantView,
.eduadmin.booking-page form .questionPanel {
  margin: 0 0 48px 0;
}
.eduadmin.booking-page form .invoiceView {
  margin: 48px 0 0 0;
}
.eduadmin.booking-page form label,
.eduadmin.booking-page form div.fakeLabel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 16px;
  /* justify-content: space-between; */
  align-items: center;
}
.eduadmin.booking-page form label .inputLabel,
.eduadmin.booking-page form div.fakeLabel .inputLabel {
  display: none;
  margin: 0 0 8px;
  color: #333333;
}
.eduadmin.booking-page form label .inputLabel.noHide,
.eduadmin.booking-page form div.fakeLabel .inputLabel.noHide {
  display: inherit;
}
.eduadmin.booking-page form label .inputHolder,
.eduadmin.booking-page form div.fakeLabel .inputHolder {
  width: 100%;
}
.eduadmin.booking-page form label .inputHolder .contactFirstName,
.eduadmin.booking-page form label .inputHolder .first-name,
.eduadmin.booking-page form div.fakeLabel .inputHolder .contactFirstName,
.eduadmin.booking-page form div.fakeLabel .inputHolder .first-name {
  margin-right: 2%;
}
.eduadmin.booking-page form label .inputHolder .contactLastName,
.eduadmin.booking-page form label .inputHolder .contactFirstName,
.eduadmin.booking-page form label .inputHolder .last-name,
.eduadmin.booking-page form label .inputHolder .first-name,
.eduadmin.booking-page form div.fakeLabel .inputHolder .contactLastName,
.eduadmin.booking-page form div.fakeLabel .inputHolder .contactFirstName,
.eduadmin.booking-page form div.fakeLabel .inputHolder .last-name,
.eduadmin.booking-page form div.fakeLabel .inputHolder .first-name {
  display: inline-block;
  width: 49%;
}
.eduadmin.booking-page form label .inputHolder.alsoInvoiceCustomer,
.eduadmin.booking-page form div.fakeLabel .inputHolder.alsoInvoiceCustomer {
  display: flex;
}
.eduadmin.booking-page form label .inputHolder.contactIsAlsoParticipant,
.eduadmin.booking-page form div.fakeLabel .inputHolder.contactIsAlsoParticipant {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.eduadmin.booking-page form label .inputHolder select,
.eduadmin.booking-page form div.fakeLabel .inputHolder select {
  width: 100%;
}
.eduadmin.booking-page form label .inputHolder input[required],
.eduadmin.booking-page form label .inputHolder input[data-required=true],
.eduadmin.booking-page form label .inputHolder textarea[required],
.eduadmin.booking-page form label .inputHolder textarea[data-required=true],
.eduadmin.booking-page form label .inputHolder select[required],
.eduadmin.booking-page form label .inputHolder select[data-required=true],
.eduadmin.booking-page form label .inputHolder input.first-name,
.eduadmin.booking-page form label .inputHolder input.last-name,
.eduadmin.booking-page form div.fakeLabel .inputHolder input[required],
.eduadmin.booking-page form div.fakeLabel .inputHolder input[data-required=true],
.eduadmin.booking-page form div.fakeLabel .inputHolder textarea[required],
.eduadmin.booking-page form div.fakeLabel .inputHolder textarea[data-required=true],
.eduadmin.booking-page form div.fakeLabel .inputHolder select[required],
.eduadmin.booking-page form div.fakeLabel .inputHolder select[data-required=true],
.eduadmin.booking-page form div.fakeLabel .inputHolder input.first-name,
.eduadmin.booking-page form div.fakeLabel .inputHolder input.last-name {
  background-color: #feffcc;
}
.eduadmin.booking-page form .participantView h3 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #333333;
}
.eduadmin.booking-page form .participantView h3 .removeParticipant {
  color: #666666;
  font-size: 1rem;
}
.eduadmin.booking-page form .participantView h3 .removeParticipant:hover {
  cursor: pointer;
}
.eduadmin.booking-page form .participantView .addParticipantLink {
  display: inline-block;
  margin: 0 0 16px 0;
}
.eduadmin.booking-page form .paymentMethodsView ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: unset;
}
.eduadmin.booking-page form .paymentMethodsView li {
  position: relative;
  padding: 0;
  width: 100%;
  display: block;
}
.eduadmin.booking-page form .paymentMethodsView li input[type=radio] {
  display: none;
}
.eduadmin.booking-page form .paymentMethodsView li:first-child label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.eduadmin.booking-page form .paymentMethodsView li:last-child label {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}
.eduadmin.booking-page form .paymentMethodsView li label {
  display: block;
  margin: unset;
  padding: 10px 20px;
  border: 1px solid #ababab;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.eduadmin.booking-page form .paymentMethodsView li input[type=radio]:checked + label {
  background-color: #f2f2f2;
}
.eduadmin.booking-page form .recaptchaView {
  margin: 0 0 48px 0;
}
.eduadmin.booking-page form .submitView {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.eduadmin.booking-page form .submitView .sumTotal {
  font-weight: bold;
  margin: 0 0 8px 0;
}
.eduadmin.booking-page form .submitView .sumTotal span {
  font-weight: normal;
  margin: 0 0 0 8px;
}
.eduadmin.booking-page form .edu-modal.warning {
  display: none;
  width: 100%;
  padding: 8px 16px;
  color: #e62b1a;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  order: -1;
  background: #ffe3e0;
  margin: 0 0 16px 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
}
.eduadmin.booking-page form .bookButton {
  padding: 16px 24px;
}
.eduadmin.booking-page form .confirmTermsHolder label {
  display: unset;
}

@media (min-width: 800px) {
  .eduadmin.booking-page form label .inputLabel {
    display: inherit;
    margin: 0;
    flex: auto;
  }
  .eduadmin.booking-page form .title select.dateInfo {
    padding: unset;
  }
  .eduadmin.booking-page form .notUserCheck {
    text-align: right;
    margin: 0;
    position: relative;
    bottom: -1.9rem;
  }
  .eduadmin.booking-page form .submitView {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .eduadmin.booking-page form .submitView .sumTotal {
    margin: 0;
  }
  .eduadmin.booking-page form .paymentMethodsView ul {
    flex-direction: row;
  }
  .eduadmin.booking-page form .paymentMethodsView li {
    position: relative;
    padding: 0;
    width: 100%;
    display: block;
  }
  .eduadmin.booking-page form .paymentMethodsView li input[type=radio] {
    display: none;
  }
  .eduadmin.booking-page form .paymentMethodsView li:first-child label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-right: 0;
    border-bottom: 1px solid #ababab;
  }
  .eduadmin.booking-page form .paymentMethodsView li:last-child label {
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-left: 0;
    border-top: 1px solid #ababab;
  }
}