.eduadmin .programme-list-item,
.eduadmin .programme-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.eduadmin .programme-header {
  display: none;
}

.eduadmin .programme-buttons a {
  display: block;
  text-align: center;
}

@media (min-width: 800px) {
  .eduadmin .programme-list-item,
  .eduadmin .programme-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }

  .eduadmin .programme-list-item > div,
  .eduadmin .programme-header > div {
    min-width: 25%;
  }
}