.eduadmin .tab_container.tabhead {
  border-bottom: 1px solid hsl(0, 0%, 82%);
}
.eduadmin .tab_container .tab_item {
  padding: 5px 10px 4px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
}
.eduadmin .tab_container .tab_item:hover {
  border: 1px solid hsl(0, 0%, 72%);
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.eduadmin .tab_container .tab_item.active {
  border: 1px solid hsl(0, 0%, 82%);
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.eduadmin .tab_container a.tab_item {
  text-decoration: none;
  box-shadow: unset;
}
.eduadmin .header-with-button {
  display: flex;
  justify-content: space-between;
}
.eduadmin .myReservationsTable {
  max-width: 100%;
}
.eduadmin .myReservationsTable .edu-table-left {
  text-align: left;
}
.eduadmin .myReservationsTable .edu-table-center {
  text-align: center;
}
.eduadmin .myReservationsTable .edu-table-right {
  text-align: right;
}
.eduadmin .myReservationsTable .table-booked-date {
  width: 8em;
}
.eduadmin .myReservationsTable .table-course {
  max-width: 13em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.eduadmin .myReservationsTable .table-dates {
  width: 15em;
}
.eduadmin .myReservationsTable .table-participants {
  width: 4em;
}
.eduadmin .myReservationsTable .table-price {
  width: 7em;
}
.eduadmin .myReservationsTable .edu-event-participantList .edu-participantList-name {
  width: 25em;
}
.eduadmin .myReservationsTable .edu-event-participantList .edu-participantList-arrived {
  width: 4em;
}
.eduadmin .myReservationsTable .edu-event-participantList .edu-participantList-grade {
  width: 6em;
}
.eduadmin .myReservationsTable .export-button {
  margin-bottom: 1em;
  float: right;
}
.eduadmin .myReservationsTable th,
.eduadmin .myReservationsTable td {
  padding: 5px;
}
.eduadmin .expired-discount-cards {
  opacity: 50%;
}