.eduadmin {
	.programme-list-item,
	.programme-header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
	}

	.programme-header {
		display: none;
	}

	.programme-buttons a {
		display: block;
		text-align: center;
	}
}

@media (min-width: 800px) {
	.eduadmin {
		.programme-list-item,
		.programme-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			> div {
				min-width: 25%;
			}
		}
	}
}
